<div>
  current id: <span id="current-user"><%= @random_number %></span>
</div>

<div id="remote-video-container"></div>

<video id="local-video" autoplay></video>

<hr>

<button id="join-button">
  Join
</button>

<button id="leave-button">
  leave
</button>
